@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Bellota+Text&family=Inter&family=Lato:wght@400;700&family=Poppins&display=swap');

:root {
    --main-bg-color: #fff;
    --accent-bg-color: #FFBFBF;
    --add-bg-color: rgba(196, 196, 196, .2);
    --main-font-color: #343434;
    --accent-font-color: #000;
    --add-font-color: #fff;
    --item-color: #ED6A6D;
    --contact-color: #231F20;
    --contact-b-color: #BBBDBF;
}

body {
    margin: 0;
}

h1 {
    font: normal 36px 'Bellota Text', cursive;
    line-height: 141%;
    text-align: right;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

h2 {
    font: normal 15px 'Lato', sans-serif;
    line-height: 18px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--main-font-color);
}

#contact h2 {
    font-size: 11px;
    line-height: 141%;
    letter-spacing: 0.02em;
    line-height: 20px;
    vertical-align: middle;    
    color: rgba(0, 0, 0, 0.6);
    background-color: rgba(196, 196, 196, 0.3);
}

#contact h2::before {
    content: "Junior Front-end developer";
    display: inline-block;
    width: 180px;    
    margin-right: 5px;
    font-size: 11px;
    line-height: 141%;
    text-align: center;   
    line-height: 20px;    
    color: var(--add-font-color);
    background-color: var(--accent-bg-color); 
}

#contact ul {    
    grid-auto-flow: column;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 60px;
    display: grid;
    margin-left: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    color: var(--contact-color);    
}

#contact ul li {
    position: relative;
    list-style-type: none;
    margin-bottom: 10px;
    line-height: 30px;
    border-bottom: 0.75px solid var(--contact-b-color);
}

#contact ul a {
    text-decoration: none;
    color: var(--contact-color);
}

#contact ul li::before {    
    content: ' ';
    display: inline-block;
    position: absolute;
    left: -40px;
    background-size: contain;
    width: 30px;
    height: 30px;
}

#phone::before {
    background-image: url("../img/Phone.svg");
}

#mail::before {
    background-image: url("../img/Gmail.svg");
}

#git::before {
    background-image: url("../img/GitHub.svg");
}

#tg::before {
    background-image: url("../img/Telegram.svg");
}

#discord::before {
    background-image: url("../img/Discord.svg");
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 260px;
    color: var(--add-font-color);
    background-color: var(--accent-bg-color);
}

.about-me::before {
    content: ' ';
    display: inline-block;
    position: absolute; 
    left: -15px;
    margin-top: -5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--main-bg-color);
}

.about-me::after {
    content: ' ';
    display: inline-block;
    position: absolute;
    top: 200px;
    left: 245px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;   
    border-right: 15px solid var(--main-bg-color);
}

.circle-cropper {
    order: 1;
    position: relative;
    overflow: hidden;
    margin-top: 30px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.circle-cropper img {
    height: 100%;
    width: auto;
}

.about-me .wrapper {    
    order: 2;
    width: 230px;
    border-bottom: 1px solid var(--add-font-color);
}

.about-me h2 {
    margin-bottom: 0;
    margin-right: 10px;;
    font-family: 'Arimo', sans-serif;
    text-align: right;
    color: var(--add-font-color);
}

.about-me p {
    order: 3;
    width: 230px;
    font: normal 10px 'Poppins', sans-serif;
    text-align: justify;
    letter-spacing: 0.075em;
}

.skills {
    width: 260px;
    background-color: var(--add-bg-color);
}