@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Bellota+Text&family=Inter&family=Lato:wght@400;700&family=Poppins&display=swap');

:root {
    --main-bg-color: #fff;
    --accent-bg-color: #FFBFBF;
    --add-bg-color: #C4C4C4;
    --main-font-color: #343434;
    --accent-font-color: #000;
    --add-font-color: #fff;
    --item-color: #ED6A6D;
}

h1 {
    font: normal 36px 'Bellota Text', cursive;
    line-height: 141%;
    text-align: right;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

h2 {
    font: normal 15px 'Lato', sans-serif;
    line-height: 18px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--main-font-color);
}

#contact h2 {
    font-size: 11px;
    line-height: 141%;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.6);
    background-color: rgba(196, 196, 196, 0.3);
    line-height: 20px;
    vertical-align: middle;
}

#contact h2::before {
    content: "Junior Front-end developer";
    display: inline-block;
    font-size: 11px;
    line-height: 141%;
    text-align: center;
    color: var(--add-font-color);
    background-color: var(--accent-bg-color);
    width: 180px;
    line-height: 20px;
    margin-right: 5px;
}